<article class="bg-light-primary p-4 rounded-md shadow-lg" *ngIf="product">
  <div class="flex font-bold justify-between flex-col sx:flex-row">
    <div class="flex">
      <figure class="flex-none">
        <img src="{{product.imageUrl}}"
             alt="{{product.name}}" class="object-contain w-60 h-60">
      </figure>
      <section>
        <h2 class="text-blue-500">{{product.brand}}</h2>
        <h1 class="text-highlight text-3xl">{{product?.name}}</h1>
        <p class="overflow-hidden text-ellipsis">{{product.description}}</p>
      </section>
    </div>
    <div class="flex flex-col flex-none justify-end space-y-2">
      <p *ngIf="!available" class="text-error"><s>Sold Out</s></p>
      <p *ngIf="available">Available</p>
      <h3>€{{product.price}}</h3>
      <button
        (click)="handleProductClick()"
        [disabled]="!available"
        class="text-lg disabled:grayscale-25 px-5 py-3 text-dark-primary rounded-lg font-bold {{available ? 'bg-highlight' : 'bg-light-quinary'}}"
      >{{user.role == 'ADMIN' ? 'Edit' : 'Order Now >>'}}</button>
    </div>
  </div>
</article>
