<div *ngIf="page">
  <div>
    <ul>
      <li class="mb-2"
          *ngFor="let item of page.content | paginate : {
                    itemsPerPage: pageSize,
                    currentPage: page.number + 1,
                    totalItems: page.totalElements
                  };">
        <ng-container
          *ngIf="rowTemplate"
          [ngTemplateOutlet]="rowTemplate"
          [ngTemplateOutletContext]="{$implicit:item}"
        ></ng-container>
      </li>
    </ul>
  </div>
</div>
<div class="pt-5 mb-8 rounded-b-md shadow-md">
  <div class="sm:flex-1 flex justify-center space-x-2">
    <div class="bg-light-primary rounded-md" *ngIf="page">
      <p class="text-md text-dark-primary text-center">
        Showing
        <span class="font-bold">{{page.pageable.offset + 1}}</span>
        to
        <span class="font-bold">{{page.pageable.offset + page.numberOfElements}}</span>
        of
        <span class="font-bold">{{page.totalElements}}</span>
        results
      </p>
    </div>
    <nav class="relative flex items-center rounded-md bg-light-primary">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        class="pagination"
        [responsive]=true
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </nav>
  </div>
</div>


